@{
}
@model SpaDay.ViewModels.AddUserViewModel;

<h1>Sign Up Form</h1>

@if (Model.Error != null)
{
    <p>@Model.Error</p>
}

<form method="post" action="/user">
    Username:
    <br>
    @if (Model.Error == null)
    {
        <input type="text" name="username" />
    }
    else
    {
        <input type="text" name="username" value="@Model.UserName" />
    }
    <br>
    Email:
    <br>
    @if (Model.Error == null)
    {
        <input type="email" name="email" />
    }
    else
    {
        <input type="email" name="email" value="@Model.Email" />
    }
    <br>
    Password:
    <input type="password" name="password" />
    <br>
    Confirm Password:
    <br>
    <input type="password" name="verify" />
    <br>
    <input type='submit' value='Submit'>
</form>
